@model CurrencyListVm

@{
    ViewData["Title"] = "Waluty";
}

<h1>Waluty</h1>

<p>
    <a asp-action="Create">Dodaj walutę</a>
</p>

<form id="search-form" asp-action="Index" method="post">
    <div class="input-group mb-3">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" class="form-control" placeholder="Wyszukaj..." />
        <button type="submit" class="btn btn-outline-secondary">Wyszukaj</button>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Kod</th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currency in Model.Currencies)
            {
                <tr>
                    <td>@currency.Id</td>
                    <td>@currency.Code</td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@currency.Id">Edytuj</a> |
                        <a asp-action="Details" asp-route-id="@currency.Id">Szczegóły</a> |
                        <a class="anchor-link" onclick="deleteCurrency(@currency.Id, '@currency.Code')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>

@section Scripts {
    <script>
        async function deleteCurrency(id, name) {
            const result = await modalService.showConfirmationModal('Usuń walutę', 'Czy na pewno chcesz usunąć walutę \'' + name + '\'?');
            if (!result) {
                return;
            }

            try {
                showError();
                await ajaxRequest.send('/Currencies/Currency/Delete/' + id, 'DELETE', undefined);
                window.location.reload();
            } catch (error) {
                if (error.status === statusCodes.Unauthorized) {
                    window.location.href = "Identity/Account/Login";
                }
                if (error.status === statusCodes.InternalErrorServer) {
                    showError([{ code: 'generalError' }]);
                }
                if (error.status === statusCodes.BadRequest) {
                    showErrorFromResponse(error);
                }
            }
        }
    </script>
}
