@model ECommerceApp.Application.ViewModels.Tag.TagDetailsVm

@{
    ViewData["Title"] = "ViewTag";
}

<h1>Sczegóły tagu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Nazwa taga
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
@if (Model.ItemTags != null && Model.ItemTags.Count > 0)
{
    <div class="form-row">
        <div class="col">
            <table class="table table-bordered">
                <thead class="thead-dark">
                    <tr>
                        <th>
                            Nazwa przedmiotu
                        </th>
                        <th>
                            Link
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.ItemTags)
                    {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => item.Name)
                        </td>
                        <td>
                            @Html.ActionLink("Szczegóły", "ViewItem", "Item", new { id = item.Id })
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
<div>
    @Html.ActionLink("Edytuj", "EditTag", new {  id = Model.Id  }) |
    <a asp-action="Index">Wróć do listy tagów</a>
</div>
