@model IEnumerable<ECommerceApp.Application.ViewModels.Payment.PaymentVm>

<p>
    <a asp-controller="Order" asp-action="ShowMyOrders">Pokaż moje zamówienia</a> |
    <a asp-controller="Item" asp-action="Index">lista przedmiotów</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nr zamówienia
            </th>
            <th>
                Data płatności
            </th>
            <th>
                Id klienta
            </th>
            <th>
                Id zamówienia
            </th>
            <th>
                Akcja
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => payment.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => payment.Number)
                </td>
                <td>
                    @Html.DisplayFor(model => payment.DateOfOrderPayment)
                </td>
                <td>
                    @Html.DisplayFor(model => payment.CustomerId)
                </td>
                <td>
                    @Html.DisplayFor(model => payment.OrderId)
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "ViewPayment", new { id = payment.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
