@model IEnumerable<ECommerceApp.Application.DTO.PaymentDto>

<h1>Moje płatności </h1>

<p>
    <a asp-controller="Order" asp-action="ShowMyOrders">Pokaż moje zamówienia</a> |
    <a asp-controller="Item" asp-action="Index">lista przedmiotów</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nr zamówienia
            </th>
            <th>
                Data płatności
            </th>
            <th>
                Dane kontaktowe
            </th>
            <th>
                Zamówienie
            </th>
            <th>
                Koszt
            </th>
            <th>
                Waluta
            </th>
            <th>
                Status
            </th>
            <th>
                Akcja
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var payment in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(model => payment.Id)
                </td>
                <td>
                    @Html.DisplayFor(model => payment.Number)
                </td>
                <td>
                    @Html.DisplayFor(model => payment.DateOfOrderPayment)
                </td>
                <td>
                    @Html.ActionLink("Kliknij aby zobaczyć dane kontaktowe", "ViewCustomer", "Customer", new { id = payment.CustomerId }, new { target = "_blank" })
                </td>
                <td>
                    @Html.ActionLink("Kliknij aby zobaczyć zamówienie", "ViewOrderDetails", "Order", new { id = payment.OrderId }, new { target = "_blank" })
                </td>
                <td>
                    @Html.DisplayFor(model => payment.Cost)
                </td>
                <td>
                    @Html.DisplayFor(model => payment.CurrencyName)
                </td>
                <td>
                    @(payment.State == "Paid"
                            ? "Opłacone"
                            : payment.State == "Issued"
                                ? "Wystawione"
                                : "Nieznany"
                    )
                </td>
                <td>
                    @Html.ActionLink("Szczegóły", "ViewPayment", new { id = payment.Id })
                </td>
            </tr>
        }
    </tbody>
</table>
