@model ECommerceApp.Application.ViewModels.Coupon.ListForCouponVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista kuponów</h1>

<p>
    <a asp-action="AddCoupon">Utwórz nowy kupon</a>
    <a asp-action="ShowCouponTypes">Lista wszystkich typów kuponów</a>
    <a asp-action="ShowCouponsUsed">Lista wszystkich kuponów użytych</a>
</p>
<form id="reload" asp-action="Index" asp-controller="Coupon" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Kod
                </th>
                <th>
                    Obniżka [%]
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Id typu kuponu
                </th>
                <th>
                    Id użytego kuponu
                </th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in Model.Coupons)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.Code)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.Discount)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.CouponTypeId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.CouponUsedId)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditCoupon", new { id = coupon.Id }) |
                        @Html.ActionLink("Szczegóły", "ViewCoupon", new { id = coupon.Id }) |
                        @Html.ActionLink("Usuń", "DeleteCoupon", new { id = coupon.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>

<script>
    function PagerClick(index) {
        var token = $('input[name="__RequestVerificationToken"]').val();
        document.getElementById("pageNo").value = index;
        $.ajax({
            url: "/Coupon/",
            type: 'POST',
            data: {//int pageSize, int? pageNo, string searchString
                __RequestVerificationToken: token,
                pageSize: document.getElementById("pageSize").value,
                pageNo: index,
                searchString: document.getElementById("searchString").value
            },
            success: function (data) {
                console.log("Success")
                console.log(data);
                var parser = new DOMParser();
                var htmlDoc = parser.parseFromString(data, 'text/html');
                console.log(htmlDoc);
                var form = htmlDoc.getElementById('reload');
                console.log(form);
                jQuery('#reload').html(form);
            },
            error: function (error) {
                console.log("error is " + error);
            }
        });
    }
</script>