@model ECommerceApp.Application.ViewModels.Coupon.CouponDetailsVm

@{
    ViewData["Title"] = "ViewCoupon";
}

<h1>Szczegóły kuponu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            Kod promocyjny
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Code)
        </dd>
        <dt class="col-sm-2">
            Obniżka
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Discount) %
        </dd>
        <dt class="col-sm-2">
            Opis
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CouponTypeId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CouponTypeId)
        </dd>
        <dt class="col-sm-2">
            Typ kuponu
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Type.Type)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CouponUsedId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CouponUsedId)
        </dd>
        <dt class="col-sm-2">
            Numer 
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edytuj", "EditCoupon", new { id = Model.Id }) |
    <a asp-action="Index">Powrót do listy kuponów</a>
</div>
