@using ECommerceApp.Infrastructure.Permissions;
@model ECommerceApp.Application.ViewModels.Type.ListForTypeVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista typów przedmiotów</h1>

<p>
    @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service))
    {
        <a asp-action="AddType">Dodaj nowy typ</a>
    }
    <a asp-action="Index" asp-controller="Item">Powrót do listy przedmiotów</a>
</p>
<form id="search-form" asp-action="Index" asp-controller="Type" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nazwa
                </th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Types)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditType", new { id = item.Id }) |
                        @Html.ActionLink("Szczegóły", "ViewType", new { id = item.Id }) |
                        <a class="anchor-link" onclick="deleteType(@item.Id, '@item.Name')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>

@section Scripts {
    <script>
        async function deleteType(id, name) {
            const result = await modalService.showConfirmationModal('Usuń typ', 'Czy na pewno chcesz usunąć typ \'' + name + '\'?');
            if (!result) {
                return;
            }

            try {
                await ajaxRequest.send('/Type/DeleteType/' + id, 'DELETE', undefined);
                window.location.reload();
            } catch (error) {
                console.error(error);
            }
        }
    </script>
}
