@model ECommerceApp.Application.Backoffice.ViewModels.BackofficeJobDetailVm

@{
    ViewData["Title"] = "Szczegóły zadania";
}

<h1>Szczegóły zadania</h1>

<dl class="row">
    <dt class="col-sm-3">Id</dt>
    <dd class="col-sm-9">@Model.Id</dd>

    <dt class="col-sm-3">Nazwa</dt>
    <dd class="col-sm-9">@Model.Name</dd>

    <dt class="col-sm-3">Status</dt>
    <dd class="col-sm-9">@Model.Status</dd>

    <dt class="col-sm-3">Wyrażenie CRON</dt>
    <dd class="col-sm-9">@Model.CronExpression</dd>

    <dt class="col-sm-3">Ostatnie uruchomienie</dt>
    <dd class="col-sm-9">@Model.LastRunAt</dd>

    <dt class="col-sm-3">Następne uruchomienie</dt>
    <dd class="col-sm-9">@Model.NextRunAt</dd>
</dl>

<a asp-area="Backoffice" asp-controller="Jobs" asp-action="Index">← Wróć do listy</a>
