@using ECommerceApp.Application.Permissions;
@model ECommerceApp.Application.ViewModels.Item.ListForItemVm
@using ECommerceApp.Application;

@{
    ViewData["Title"] = "Index";
}


<h1>Lista przedmiotów</h1>


<p>
    @if (User.IsInRole("Administrator") || User.IsInRole("Manager") || User.IsInRole("Service") || User.IsInRole("Admin"))
    {
        <a asp-action="AddItem">Stwórz nowy przedmiot</a>
    }
    <a asp-action="Index" asp-controller="Brand">Lista firm</a>
    <a asp-action="Index" asp-controller="Type">Lista typów przedmiotów</a>
    @if (User.IsInRole("Administrator") || User.IsInRole("Manager") || User.IsInRole("Service") || User.IsInRole("Admin"))
    {
        <a asp-action="Index" asp-controller="Tag">Lista tagów</a>
        <a asp-action="ShowItemConnectedWithTags">Przedmioty z tagami</a>
    }
</p>
<form asp-action="Index" asp-controller="Item" method="post" id="search-form">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nazwa
                </th>
                <th>
                    Koszt
                </th>
                <th>
                    Opis
                </th>
                <th>
                    Gwarancja
                </th>
                <th>
                    Ilość
                </th>
                <th>
                    BrandId
                </th>
                <th>
                    TypeId
                </th>
                <th>
                    Waluta
                </th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Cost)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Warranty)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Quantity)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.BrandId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TypeId)
                    </td>
                     <td>
                        @Html.DisplayFor(modelItem => item.CurrencyName)
                    </td>
                    <td>
                        <a class="anchor-link" onclick="AddItemToCart(@item.Id)">Dodaj do koszyka</a>
                        @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service))
                        {
                            @(' ')@('|')@(' ')
                            @Html.ActionLink("Edytuj", "EditItem", new { id = item.Id }) @(' ')@('|')@(' ')
                            @Html.ActionLink("Szczegóły", "ViewItem", new { id = item.Id }) @(' ')@('|')@(' ')
                        }
                        @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager))
                        {
                            <a class="anchor-link" onclick="deleteItem(@item.Id, '@item.Name')">Usuń</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        async function AddItemToCart(itemId)
        {
            try {
                await ajaxRequest.send("/OrderItem/AddToCart", "POST", JSON.stringify({
                        "ItemId": itemId,
                        "ItemOrderQuantity": 1,
                        "UserId": "@User.GetUserId()"
                    }), "application/json");
                location.reload();
            } catch (error) {
                if (error.status === statusCodes.Unauthorized) {
                    window.location.href = "Identity/Account/Login";
                }
            }
        }

        async function deleteItem(id, name) {
            const result = await modalService.showConfirmationModal('Usuń przedmiot', 'Czy na pewno chcesz usunąć przedmiot \'' + name + '\'?');
            if (!result) {
                return;
            }

            try {
                await ajaxRequest.send('/Item/DeleteItem/' + id, 'DELETE', undefined);
                window.location.reload();
            } catch (error) {
                console.error(error);
            }
        }
    </script>
}