@model ECommerceApp.Application.ViewModels.Item.ListForItemWithTagsVm

@{
    ViewData["Title"] = "ShowItemConnectedWithTags";
}

<h1>Lista przedmiotów z tagami</h1>


<p>
    <a asp-action="Index">Powrót do listy przedmiotów</a>
</p>
<form id="search-form" asp-action="ShowItemConnectedWithTags" asp-controller="Item" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id przedmiotu
                </th>
                <th>
                    Nazwa przedmiotu
                </th>
                <th>
                    Id Taga
                </th>
                <th>
                    Nazwa Taga
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ItemTags)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ItemName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TagId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TagName)
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>
