@model ECommerceApp.Application.ViewModels.Item.ListForItemBrandVm

@{
    ViewData["Title"] = "ShowItemBrands";
}

<h1>ShowItemBrands</h1>

<p>
    <a asp-action="AddItemBrand">Dodaj nową markę</a>
    <a asp-action="Index">Powrót do listy przedmiotów</a>
</p>

<form asp-action="ShowItemBrands" asp-controller="Item" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nazwa
                </th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Brands)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditItemBrand", new { id = item.Id }) |
                        @Html.ActionLink("Szczegóły", "ViewItemBrand", new { id = item.Id }) |
                        @Html.ActionLink("Delete", "DeleteItemBrand", new {  id=item.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="2" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index) {
            document.getElementById("pageNo").value = index;
            document.forms[0].submit();
        }
    </script>
}