@model ECommerceApp.Application.ViewModels.OrderItem.NewOrderItemVm

@{
    ViewData["Title"] = "AddOrderItemToCart";
}

<h1>Dodaj przedmiot do koszyka</h1>

<hr />
<div class="row">
    <div class="col-lg-6">
        <form asp-action="AddOrderItemToCart" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="OrderItem.Id" class="form-control" />
            <div class="form-group">
                <input type="hidden" asp-for="OrderItem.OrderId" class="form-control" />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input readonly class="form-control" asp-for="@User.Identity.Name" />
                <input type="hidden" name="Model.OrderItem.UserId" asp-for="OrderItem.UserId" value="@Model.OrderItem.UserId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="OrderItem.CouponUsedId" class="form-control" />
            </div>
            <div class="form-group">
                <input type="hidden" asp-for="OrderItem.RefundId" class="form-control" />
            </div>
            <div>
                <p>Przedmiot:</p>
                <div>
                    <div class="mt-2 mb-2">
                        <select id="Items" asp-items="@(new SelectList(Model.Items,"Id", "Name"))" class="custom-select" data-val="true"></select>
                        <input type="hidden" id="ItemId" name="Model.OrderItem.ItemId" value="@Model.OrderItem.ItemId" style="width: 45px;" />
                    </div>
                    <div class="col mt-2 mb-2 d-flex align-items-center">
                        <input id="Cost" name="Cost" value="" readonly style="width: 25%;" class="form-control" />
                        <a><i onclick="AddQuantity(this.id)" id="OrderItemAddQuantity" class="fas fa-plus-circle ml-2 fa-custom mr-2"></i></a>
                        <input id="ItemQuantity" name="Model.OrderItem.ItemOrderQuantity" value="@Model.OrderItem.ItemOrderQuantity" readonly style="width: 15%;" class="form-control" />
                        <a><i onclick="RemoveQuantity(this.id)" class="fa fa-minus-circle ml-2 fa-custom" id="OrderItemRemoveQuantity"></i></a>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Dodaj do koszyka" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


<div>
    <a asp-action="Index" asp-controller="Item">Powrót do listy przedmiotów</a>
</div>

    @section Scripts {
        <script type="text/javascript">
            var selectedIndex;
            var selectedValue;
            var costFromSelectList;
            var itemSelectList = document.getElementById('Items');
            var itemList = @Json.Serialize(Model.Items);

            $(document).on('DOMInitialized', function () {
                selectedValue = itemSelectList.options[itemSelectList.selectedIndex].value;
                costFromSelectList = GetItemCost(itemList, selectedValue);
                selectedValue = itemSelectList.options[itemSelectList.selectedIndex].value;
                document.getElementById('ItemId').value = selectedValue;
                document.getElementById('Cost').value = formatPln(costFromSelectList);
                document.getElementById('ItemQuantity').value = 1;
            });

            $(document).on('change', 'select', function () {
                selectedIndex = (this).index;
                selectedValue = (this).value;
                var collectionInSelectList = this.children;

                for (i = 0; i < collectionInSelectList.length; i++) {
                    if (collectionInSelectList[i].value == selectedValue) {
                        selectedIndex = i;

                    }
                }
                costFromSelectList = GetItemCost(itemList, selectedValue);
                document.getElementById('ItemId').value = selectedValue;
                document.getElementById('Cost').value = formatPln(costFromSelectList);
                document.getElementById('ItemQuantity').value = 1;
            });

            function AddQuantity(id) {
                var valueInQunatity = Number(document.getElementById('ItemQuantity').value);
                valueInQunatity += 1;
                document.getElementById('ItemQuantity').value = valueInQunatity;
                IncreaseCost();
            }

            function RemoveQuantity(id) {
                var valueInQunatity = Number(document.getElementById('ItemQuantity').value);
                valueInQunatity -= 1;
                if (valueInQunatity <= 0) {
                    return;
                }
                document.getElementById('ItemQuantity').value = valueInQunatity;
                DecreaseCost();
            }

            var form2 = $('form');
            var table2 = $('#RefreshCost');

            function IncreaseCost() {
                var valueInQuantity = Number(document.getElementById('ItemQuantity').value);
                var itemCost = Number(costFromSelectList);
                var cost = 0;
                cost = itemCost * valueInQuantity;
                cost = formatPln(cost);
                document.getElementById('Cost').value = cost.toString();
            }

            function DecreaseCost() {
                var valueInQuantity = Number(document.getElementById('ItemQuantity').value);
                var itemCost = Number(costFromSelectList);
                var cost = 0;
                cost = itemCost * Number(valueInQuantity);
                cost = formatPln(cost);
                document.getElementById('Cost').value = cost;
            }

            function GetItemCost(array, itemId) {
                return array.find(a => a.id == itemId)?.cost ?? 0;
            }
        </script>
    }
