@model ECommerceApp.Application.ViewModels.Order.ListForOrderVm

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Id
            </th>
            <th>
                Nr zamówienia
            </th>
            <th>
                Koszt
            </th>
            <th>
                Data zamówienia
            </th>
            <th>
                Data dostarczenia
            </th>
            <th>
                Czy dostarczono
            </th>
            <th>
                Id użytego kuponu
            </th>
            <th>
                Id zamawiającego
            </th>
            <th>
                Id płatności
            </th>
            <th>
                Czy zapłacono
            </th>
            <th>
                RefundId
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var order in Model.Orders)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelOrder => order.Id)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.Number)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.Cost)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.Ordered)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.Delivered)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.IsDelivered)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.CouponUsedId)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.CustomerId)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.PaymentId)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.IsPaid)
            </td>
            <td>
                @Html.DisplayFor(modelOrder => order.RefundId)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
        }
    </tbody>
</table>
