@model ECommerceApp.Web.Models.Order

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>Szczegóły zamówienia</h1>

<div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.OrderId)
                </th>
                <th>
                    Numer zamówienia
                </th>
                <th>
                    Przedmiot
                </th>
                <th>
                    Koszt przedmiotu
                </th>
                <th>
                    Ilość przedmiotów
                </th>
                <th>
                    Nazwa typu przedmiotu
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.ItemOrder)
            {
            <tr>
                <td>
                    @Html.DisplayFor(model => model.OrderId)
                </td>
                <td>
                    @Html.DisplayFor(model => model.OrderNumber)
                </td>
                <td>
                    @Html.ActionLink("Kliknij aby zobaczyć", "ViewItem", "Item", new { id = item.Item.ItemId }, new { target = "_blank" })
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemCost)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ItemOrderQuantity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.ItemTypeName)
                </td>
            </tr>
            }
        </tbody>
    </table>
    <p>Cost @Html.DisplayFor(model => model.OrderCost) zl</p>
</div>
<div>
    @Html.ActionLink("Back to List", "OrderList", "Order")
</div>
