@model IEnumerable<ECommerceApp.Web.Models.Order>

@{
    ViewData["Title"] = "OrderList";
}

<h1>List of Orders</h1>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.OrderId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderCost)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.OrderId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.OrderCost)
            </td>
            <td>
                @Html.ActionLink("Show Details", "OrderDetails", "Order", new { id = item.OrderId })
            </td>
        </tr>
}
    </tbody>
</table>
