@model ECommerceApp.Application.ViewModels.Order.ListForRefundVm

@{
    ViewData["Title"] = "ShowRefunds";
}

<h1>Lista zwrotów</h1>

<p>
    <a asp-action="Index">Lista zamówień</a>
    <a asp-action="ShowPayments">Lista płatności</a>
    <a asp-action="ShowAllOrderItems">Lista wszystkich produktów zamówionych</a>
</p>
<form id="reload" asp-action="ShowRefunds" asp-controller="Order" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Powód zwrotu
                </th>
                <th>
                    Data zwrotu
                </th>
                <th>
                    Na gwarancji
                </th>
                <th>
                    Akceptowano
                </th>
                <th>
                    Id klienta
                </th>
                <th>
                    Id zamówienia
                </th>
                <th>
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var refund in Model.Refunds)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => refund.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.RefundDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.OnWarranty)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.Accepted)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.OrderId)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditOrder", new { id = refund.OrderId }) |
                        @Html.ActionLink("Szczegóły", "ViewRefundDetails", new { id = refund.Id }) |
                        @Html.ActionLink("Usuń", "DeleteRefund", new { id = refund.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            var token = $('input[name="__RequestVerificationToken"]').val();
            document.getElementById("pageNo").value = index;
            $.ajax({
                url: "/Order/ShowRefunds/",
                type: 'POST',
                data: {//int pageSize, int? pageNo, string searchString
                    __RequestVerificationToken: token,
                    pageSize: document.getElementById("pageSize").value,
                    pageNo: index,
                    searchString: document.getElementById("searchString").value
                },
                success: function (data) {
                    console.log("Success")
                    console.log(data);
                    var parser = new DOMParser();
                    var htmlDoc = parser.parseFromString(data, 'text/html');
                    console.log(htmlDoc);
                    var form = htmlDoc.getElementById('reload');
                    console.log(form);
                    jQuery('#reload').html(form);
                },
                error: function (error) {
                    console.log("error is " + error);
                }
            });
        }
    </script>
}