@using ECommerceApp.Application.Permissions;
@model ECommerceApp.Application.ViewModels.Order.ListForOrderVm

@{
    ViewData["Title"] = "ShowOrdersByCustomerId";
}

<h1>Lista zamówień klienta</h1>

<p>
    <a asp-action="Index">Lista zamówień</a>
</p>
<form id="search-form" asp-action="ShowOrdersByCustomerId" asp-controller="Order" asp-route-customerId="@ViewBag.InputParameterId" method="post">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Nr zamówienia
                </th>
                <th>
                    Kod waluty
                </th>
                <th>
                    Dane kontaktowe
                </th>
                <th>
                    Zamówiono
                </th>
                <th>
                    Opłacone
                </th>
                <th>
                    Id płatności
                </th>
                <th>
                    Czy dostarczono
                </th>
                <th>
                    Dostarczono
                </th>
                <th>
                    Id użytego kuponu
                </th>
                <th>
                    Id reklamacji
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var order in Model.Orders)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => order.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Number)
                    </td>
                    <td>
                         @{
                        <span>@order.Cost.ToString("N2") @order.CurrencyCode</span>
                        }
                    </td>
                    <td>
                        @Html.ActionLink("Kliknij aby zobaczyć", "ViewCustomer", "Customer", new { id = order.CustomerId }, new { target = "_blank" })
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Ordered)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.IsPaid)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.PaymentId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.IsDelivered)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.Delivered)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.CouponUsedId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => order.RefundId)
                    </td>
                    <td>
                        @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service))
                        {
                            @Html.ActionLink("Edytuj", "EditOrder", new { id = order.Id }) @(" | ")
                        }
                        @Html.ActionLink("Szczegóły", "ViewOrderDetails", new { id = order.Id })
                        @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service))
                        {
                            @(" | ") <a class="anchor-link" onclick="deleteOrder(@order.Id, '@order.Number')">Usuń</a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>


@section Scripts {
    <script>
        async function deleteOrder(id, name) {
            const result = await modalService.showConfirmationModal('Usuń zamówienie', 'Czy na pewno chcesz usunąć zamówienie z numerem \'' + name + '\'?');
            if (!result) {
                return;
            }

            try {
                await ajaxRequest.send('/Order/DeleteOrder/' + id, 'DELETE', undefined);
                window.location.reload();
            } catch (error) {
                if (error.status === statusCodes.Unauthorized) {
                    window.location.href = "Identity/Account/Login";
                }
                if (error.status === statusCodes.InternalErrorServer) {
                    showError([{ code: 'generalError' }]);
                }
                if (error.status === statusCodes.BadRequest) {
                    showErrorFromResponse(error);
                }
            }
        }
    </script>
}
