@using ECommerceApp.Infrastructure.Permissions;
@model ECommerceApp.Application.ViewModels.Order.OrderDetailsVm

@{
    ViewData["Title"] = "ViewOrderDetails";
}

<h1>Szczegóły zamówienia</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            Numer zamówienia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
        <dt class = "col-sm-2">
            Koszt
        </dt>
        <dd class = "col-sm-10">
            @{
                <span>@Model.Cost.ToString("N2") @Model.CurrencyCode</span>
            }
        </dd>
        <dt class = "col-sm-2">
            Data zamówienia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ordered)
        </dd>
        <dt class="col-sm-2">
            Data dostarczenia
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Delivered)
        </dd>
        <dt class = "col-sm-2">
            Dostarczono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDelivered)
        </dd>
        @if (Model.CouponUsedId.HasValue)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.CouponUsedId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.CouponUsedId)
            </dd>
        }
        <dt class = "col-sm-2">
            Dane kontaktowe
        </dt>
        <dd class="col-sm-10">
            @Html.ActionLink("Kliknij aby zobaczyć", "ViewCustomer", "Customer", new { id = @Model.CustomerId }, new { target = "_blank" })
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PaymentId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PaymentId)
        </dd>
        <dt class = "col-sm-2">
            Zapłacono
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaid)
        </dd>
        @if (Model.RefundId.HasValue)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.RefundId)
            </dt>
            <dd class = "col-sm-10">
                @Html.DisplayFor(model => model.RefundId)
        </dd>
        }
    </dl>
</div>
<div class="form-row">
    <div class="col">
        <table class="table table-bordered">
            <thead class="thead-dark">
                <tr>
                    <th>
                        Nazwa przedmiotu
                    </th>
                    <th>
                        Ilość zamówiona
                    </th>
                    <th>
                        Koszt [PLN]
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var orderItem in Model.OrderItems)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(model => orderItem.ItemName)
                        </td>
                        <td>
                            @Html.DisplayFor(model => orderItem.ItemOrderQuantity)
                        </td>
                        <td>
                            @Html.DisplayFor(model => orderItem.ItemCost)
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>
<div>
    @if (User.IsInRole(UserPermissions.Roles.Administrator) || User.IsInRole(UserPermissions.Roles.Manager) || User.IsInRole(UserPermissions.Roles.Service))
    {
        @Html.ActionLink("Edytuj", "EditOrder", new { id = Model.Id }) @('|')
    }
    <a asp-controller="Order" asp-action="ShowMyOrders">Wróć do moich zamówień</a>
    @if (Model.RefundId != null)
    {
        @(' ') @('|') @(' ') @Html.ActionLink("Szczegóły zwrotu", "ViewRefundDetails", "Refund", new { id = Model.RefundId })
    }
</div>
