@model ECommerceApp.Application.ViewModels.Order.OrderItemDetailsVm

@{
    ViewData["Title"] = "ViewOrdertemDetails";
}

<h1>Szczegóły zamówionego przedmiotu</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemOrderQuantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemOrderQuantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.ItemCost)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.ItemCost)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.OrderId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.OrderId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CouponUsedId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CouponUsedId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RefundId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RefundId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Wróć do listy zamówień</a>
</div>
