@model ECommerceApp.Application.ViewModels.CouponUsed.ListForCouponUsedVm

@{
    ViewData["Title"] = "Index";
}

<h1>Kupony użyte</h1>

<p>
    <a asp-action="AddCouponUsed">Użyj kuponu</a>
    <a asp-controller="Coupon" asp-action="Index">Powrót do listy kuponów</a>
</p>
<form id="search-form" asp-action="Index" asp-controller="CouponUsed" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Id kuponu
                </th>
                <th>
                    Id zamówienia
                </th>
                <th>
                    Nr zamówienia
                </th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in Model.CouponsUsed)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.CouponId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.OrderId)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditCouponUsed", new { id = coupon.Id }) |
                        @Html.ActionLink("Szczegóły", "ViewCouponUsed", new { id = coupon.Id }) |
                        <a class="anchor-link" onclick="deleteCouponUsed(@coupon.Id, @coupon.CouponId, @coupon.OrderId)">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>

@section Scripts {
    <script>
        async function deleteCouponUsed(id, couponId, orderId) {
            const result = await modalService.showConfirmationModal('Usuń użyty kupon', 'Czy na pewno chcesz usunąć użyty kupon z id \'' + couponId + '\' dla zamówienia \'' + orderId + '\'?');
            if (!result) {
                return;
            }

            try {
                showError();
                await ajaxRequest.send('/CouponUsed/DeleteCouponUsed/' + id, 'DELETE', undefined);
                window.location.reload();
            } catch (error) {
                if (error.status === statusCodes.Unauthorized) {
                    window.location.href = "Identity/Account/Login";
                }
                if (error.status === statusCodes.InternalErrorServer) {
                    showError([{ code: 'generalError' }]);
                }
                if (error.status === statusCodes.BadRequest) {
                    showErrorFromResponse(error);
                }
            }
        }
    </script>
}
