@model ECommerceApp.Application.ViewModels.Customer.NewCustomerVm

@{
    ViewData["Title"] = "EditCustomer";
}

<h1>Edycja klienta</h1>

<div>
    <a asp-action="Index">Powrót do listy klientów</a>
</div>
<hr />
<div class="row">
    <form method="post" asp-action="EditCustomer">
        <div class="form-row col-12">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group col-5">
                <label asp-for="FirstName" class="control-label">Imię</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group col-5">
                <label asp-for="LastName" class="control-label">Nazwisko</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-group form-check col-4"></div><div class="form-group form-check col-6" style=" margin: 0 auto; ">
                <label class="form-check-label">
                    <input id="CompanyEnter" class="form-check-input" asp-for="IsCompany" /> Firma
                </label>
            </div>
            @if (Model.IsCompany)
            {
                <div id="CompanyData" clas="form-row col-12" style="display:block;">
                    <div>
                        <label asp-for="NIP" class="control-label"></label>
                        <input id="NIPInput" asp-for="NIP" class="form-control" />
                        <span asp-validation-for="NIP" class="text-danger"></span>
                    </div>
                    <div>
                        <label asp-for="CompanyName" class="control-label">Nazwa firmy</label>
                        <input id="CompanyInput" asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                </div>
            }
            else
            {
                <div id="CompanyData" class="form-row" style="display:none;">
                    <div class="form-group col-4">
                        <label asp-for="NIP" class="control-label"></label>
                        <input asp-for="NIP" class="form-control" />
                        <span asp-validation-for="NIP" class="text-danger"></span>
                    </div>
                    <div class="form-group col-1"></div> <div class="form-group col-4">
                        <label asp-for="CompanyName" class="control-label"></label>
                        <input asp-for="CompanyName" class="form-control" />
                        <span asp-validation-for="CompanyName" class="text-danger"></span>
                    </div>
                </div>
            }

        </div>
        <br />
        <div class="form-row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Kontakt
                            </th>
                            <th>
                                Rodzaj kontaktu
                            </th>
                            <th>
                                Akcja
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var contact in Model.ContactDetails)
                        {
                        <tr>
                            <td>
                                @Html.DisplayFor(model => contact.ContactDetailInformation)
                            <td>
                                @Html.DisplayFor(model => contact.ContactDetailTypeName)
                            </td>
                            <td>
                                <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteContactDetail", "ContactDetail", new { id = contact.Id})">Usuń</a>
                                <a class="btn btn-info btn-sm" href="@Url.Action("EditContactDetail", "ContactDetail", new { id = contact.Id})">Edytuj</a>
                                <a class="btn btn-info btn-sm" href="@Url.Action("ViewContactDetail", "ContactDetail", new { id = contact.Id})">Szczegóły</a>
                            </td>
                        </tr>
                        }
                    </tbody>
                </table>
                <a class="btn btn-dark btn-sm" href="@Url.Action("AddNewContactDetail", "ContactDetail", new { id = Model.Id })">Dodaj kontakt</a>
            </div>
        </div>
        <br><br>
        <div class="form-row">
            <div class="col">
                <table class="table table-bordered">
                    <thead class="thead-dark">
                        <tr>
                            <th>
                                Kraj
                            </th>
                            <th>
                                Kod pocztowy
                            </th>
                            <th>
                                Miasto
                            </th>
                            <th>
                                Ulica
                            </th>
                            <th>
                                Nr budynku
                            </th>
                            <th>
                                Nr mieszkania
                            </th>
                            <th>
                                Akcja
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var address in Model.Addresses)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(model => address.Country)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => address.ZipCode)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => address.City)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => address.Street)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => address.BuildingNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(model => address.FlatNumber)
                                </td>
                                <td>
                                    <a class="btn btn-danger btn-sm" href="@Url.Action("DeleteAddress", "Address", new { id = address.Id})">Usuń</a>
                                    <a class="btn btn-info btn-sm" href="@Url.Action("EditAddress", "Address", new { id = address.Id})">Edytuj</a>
                                    <a class="btn btn-info btn-sm" href="@Url.Action("ViewAddress", "Address", new { id = address.Id})">Szczegóły</a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                <input id="AddAddress" type="button" class="btn btn-dark" value="Dodaj adres" onclick="location.href='@Url.Action("AddAddress", "Address", new { id = Model.Id })'" />
            </div>
        </div>
        <br><br>
        <div class="form-group">
            <input type="submit" value="Zapisz" class="btn btn-primary" />
        </div>
    </form>
</div>



@section Scripts {
        <script>
            $('#CompanyEnter').on('click', function () {
                if (this.checked) {
                    $('#CompanyData').css("display", "block");
                }
                else {
                    $('#CompanyData').css("display", "none");
                    document.getElementById("NIPInput").value = "";
                    document.getElementById("CompanyInput").value = "";
                }
            });

        </script>

        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
