@model ECommerceApp.Application.ViewModels.Currency.ListCurrencyVm


@{
    ViewData["Title"] = "Index";
}

<h1>Waluty</h1>

<p>
    <a asp-action="AddCurrency">Dodaj walutę</a>
</p>

<form id="search-form" asp-action="Index" asp-controller="Currency" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Kod
                </th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currency in Model.Currencies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelCurrency => currency.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCurrency => currency.Code)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditCurrency", new {  id = currency.Id  }) |
                        @Html.ActionLink("Szczegóły", "ViewCurrency", new { id = currency.Id }) |
                        <a class="anchor-link" onclick="deleteCurrency(@currency.Id, '@currency.Code')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>

@section Scripts {
    <script>
        async function deleteCurrency(id, name) {
            const result = await modalService.showConfirmationModal('Usuń walutę', 'Czy na pewno chcesz usunąć walutę \'' + name + '\'?');
            if (!result) {
                return;
            }

            try {
                await ajaxRequest.send('/Currency/DeleteCurrency/' + id, 'DELETE', undefined);
                window.location.reload();
            } catch (error) {
                console.error(error);
            }
        }
    </script>
}
