@model ECommerceApp.Application.ViewModels.Currency.ListCurrencyVm


@{
    ViewData["Title"] = "Index";
}

<h1>Waluty</h1>

<p>
    <a asp-action="AddCurrency">Dodaj walutę</a>
</p>

<form id="reload" asp-action="Index" asp-controller="Currency" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Kod
                </th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var currency in Model.Currencies)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelCurrency => currency.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCurrency => currency.Code)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditCurrency", new {  id = currency.Id  }) |
                        @Html.ActionLink("Szczegóły", "ViewCurrency", new { id = currency.Id }) |
                        @Html.ActionLink("Usuń", "DeleteCurrency", new { id = currency.Id })
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href="javascript:PagerClick(@i)">@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="10" />
    </div>
</form>

@section Scripts
{
    <script type="text/javascript">
        function PagerClick(index)
        {
            var token = $('input[name="__RequestVerificationToken"]').val();
            document.getElementById("pageNo").value = index;
            $.ajax({
                url: "/Currency/", 
                type: 'POST',
                data: {//int pageSize, int? pageNo, string searchString
                    __RequestVerificationToken: token,
                    pageSize: document.getElementById("pageSize").value,
                    pageNo: index,
                    searchString: document.getElementById("searchString").value
                },
                success: function (data) {
                    console.log("Success")
                    console.log(data);
                    var parser = new DOMParser();
                    var htmlDoc = parser.parseFromString(data, 'text/html');
                    console.log(htmlDoc);
                    var form = htmlDoc.getElementById('reload');
                    console.log(form);
                    jQuery('#reload').html(form);
                },
                error: function (error) {
                    console.log("error is " + error);
                }
            });
        }
    </script>
}