@model ECommerceApp.Application.ViewModels.CouponType.ListForCouponTypeVm

@{
    ViewData["Title"] = "Index";
}

<h1>Typy kuponów</h1>

<p>
    <a asp-action="AddCouponType">Utwórz nowy typ</a>
    <a asp-controller="Coupon" asp-action="Index">Powrót do listy kuponów</a>
</p>
<form id="search-form" asp-action="Index" asp-controller="CouponType" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Typ kuponu
                </th>
                <th>Akcja</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var coupon in Model.CouponTypes)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelCoupon => coupon.Type)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditCouponType", new { id = coupon.Id }) |
                        @Html.ActionLink("Szczegóły", "ViewCouponType", new { id = coupon.Id }) |
                        <a class="anchor-link" onclick="deleteCouponType(@coupon.Id, '@coupon.Type')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>

@section Scripts {
    <script>
        async function deleteCouponType(id, name) {
            const result = await modalService.showConfirmationModal('Usuń typ kuponu', 'Czy na pewno chcesz usunąć typ kuponu \'' + name + '\'?');
            if (!result) {
                return;
            }

            try {
                showError();
                await ajaxRequest.send('/CouponType/DeleteCouponType/' + id, 'DELETE', undefined);
                window.location.reload();
            } catch (error) {
                if (error.status === statusCodes.Unauthorized) {
                    window.location.href = "Identity/Account/Login";
                }
                if (error.status === statusCodes.InternalErrorServer) {
                    showError([{ code: 'generalError' }]);
                }
                if (error.status === statusCodes.BadRequest) {
                    showErrorFromResponse(error);
                }
            }
        }
    </script>
}
