@model ECommerceApp.Application.ViewModels.Refund.ListForRefundVm

@{
    ViewData["Title"] = "Index";
}

<h1>Lista zwrotów</h1>

<p>
    <a asp-action="Index" asp-controller="Order">Lista zamówień</a>
    <a asp-action="Index" asp-controller="Payment">Lista płatności</a>
    <a asp-action="Index" asp-controller="OrderItem">Lista wszystkich produktów zamówionych</a>
</p>
<form id="search-form" asp-action="Index" asp-controller="Refund" method="post">
    <div class="row">
        <input type="text" asp-for="SearchString" name="searchString" id="searchString" />
        <input type="submit" value="Wyszukaj" />
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Powód zwrotu
                </th>
                <th>
                    Data zwrotu
                </th>
                <th>
                    Na gwarancji
                </th>
                <th>
                    Akceptowano
                </th>
                <th>
                    Id klienta
                </th>
                <th>
                    Id zamówienia
                </th>
                <th>
                    Akcja
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var refund in Model.Refunds)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => refund.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.Reason)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.RefundDate)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.OnWarranty)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.Accepted)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(model => refund.OrderId)
                    </td>
                    <td>
                        @Html.ActionLink("Edytuj", "EditRefund", new { id = refund.OrderId }) |
                        @Html.ActionLink("Szczegóły", "ViewRefundDetails", new { id = refund.Id }) |
                        <a class="anchor-link" onclick="deleteRefund(@refund.Id, '@refund.OrderId')">Usuń</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="row">
        <table>
            <tr>
                @for (int i = 1; i <= Math.Ceiling(Model.Count / (double)Model.PageSize); i++)
                {
                    <td>
                        @if (i != Model.CurrentPage)
                        {
                            <a href='javascript:PagerClick(@i, "search-form")'>@i</a>
                        }
                        else
                        {
                            <span>@i</span>
                        }
                    </td>
                }
            </tr>
        </table>
        <input type="hidden" name="pageNo" id="pageNo" />
        <input type="hidden" name="pageSize" id="pageSize" value="20" />
    </div>
</form>

@section Scripts {
    <script>
        async function deleteRefund(id, orderId) {
            const result = await modalService.showConfirmationModal('Usuń reklamację', 'Czy na pewno chcesz usunąć reklamację do zamówienia z id \'' + orderId + '\'?');
            if (!result) {
                return;
            }

            try {
                await ajaxRequest.send('/Refund/DeleteRefund/' + id, 'DELETE', undefined);
                window.location.reload();
            } catch (error) {
                if (error.status === statusCodes.Unauthorized) {
                    window.location.href = "Identity/Account/Login";
                }
                if (error.status === statusCodes.InternalErrorServer) {
                    showError([{ code: 'generalError' }]);
                }
                if (error.status === statusCodes.BadRequest) {
                    showErrorFromResponse(error);
                }
            }
        }
    </script>
}
